.groupList:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.listItem {
  > div {
    display: grid;
    gap: 15px;
    // grid-template-rows: 1fr 1fr;
    margin-bottom: 5px;
  }
}
