.groupList:not(:last-child) {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.accountList {
  overflow: hidden;
  max-height: 2000px;
  transition: max-height .5s;

  &.shrink {
    max-height: 0;
  }
}


.listItem {
  > div {
    display: grid;
    gap: 15px;
    margin-bottom: 5px;
  }
}
