:root {
  --success-color: #09bf9d;
  --danger-color: #ff7875;
}

.title {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.descriptions span > span {
  color: var(--success-color);
}

.red {
  color: var(--danger-color);
}

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px 50px;
  justify-self: start;
}

ul.list li a:hover {
  border-bottom: 1px solid currentColor;
}
